@import "../../global/styles/styles"

@mixin theme($main_color: $dark_main_color, $background-color: $dark_background_color)
    color: $main_color
    background-color: $background-color

#root

    padding: 0
    margin: 0
    .AppContainer
        height: 100vh
        width: 100%
    .dark
        @include theme()
    .light
        @include theme($main_color: $light_main_color, $background-color: $light_background_color)
