@import "../../global/styles/styles"

#root
    padding: 0
    margin: 0

    .AppContainer
        min-height: 100vh
        height: auto
        width: 100%
        padding: 0 0 2em
        min-width: 650px

body
    font-family: $font_family
    margin: 0

